<span id="header">
    <span id="hotel-name"></span>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/createuserform"><li>Insert</li></a>
        <a href="/updateuserform"><li>Update</li></a>
        <a href="/deleteuserform"><li>Delete</li></a>
        <a href="/readuserform"><li>Find Record</li></a>

    </ul>
</span>