<span id="slider-image-box"></span>



<section id="three-boxes">
    <span class="three-img-boxes">
        <span class="heading-box">Services</span>
        <span class="img-box">
            <img src="../images/pic1.jpg" alt="">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio recusandae quibusdam quo velit, pariatur asperiores?
        </span>
        <button class="read-more">Read More</button>
    </span>
    <span class="three-img-boxes">
        <span class="heading-box">Events</span>
        <span class="img-box">
            <img src="../images/pic1.jpg" alt="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni totam cumque assumenda laboriosam autem rerum.
        </span>
        <button class="read-more">Read More</button>



    </span>
    <span class="three-img-boxes">
        <span class="heading-box">Restaurant</span>
        <span class="img-box">
            <img src="../images/pic1.jpg" alt="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed iste molestiae eligendi cumque aliquam praesentium!

        </span>
        <button class="read-more">Read More</button>



    </span>
</section>


<section>
    <span id="welcome-description">
        <h1>Welcome !</h1>
        <span id="description-img"></span>
        <span id="description-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt esse 
            tempore deleniti doloribus quasi ipsum quod voluptatibus placeat,
             odio exercitationem asperiores error provident, explicabo cupiditate
              quibusdam suscipit! Maxime, labore delectus?</span>
    </span>
    <span id="price-box">
        <span id="price-heading">Packages</span>
        <span id="price-content">
            <ul>
                <li>> Business Package <b>[$748]</b></li>
                <li>> Family Package  <b>[$548]</b></li>
                <li>> single Package  <b>[$248]</b></li>
                <li>> Party Package   <b>[$120]</b></li>
            </ul>
        </span>
    </span>
</section>
